
.smallInput{
	width:50px
}
.longInput{
	width:300px;
}

form  span {
	margin-right:3px;
	margin-left:12px;
}

td {
	vertical-align: top
}

.error {
	background-color: yellow;
	color:red;
	padding:15px;
	font-size: 15pt;
}

table, tr, td {
	/*border: 1px solid #eee;*/
	border-collapse: collapse;
}
fieldset{
	border: 1px solid #ddd;
}
.geoInput {
	width:100px;
}
