
.smallInput{
	width:50px
}
.longInput{
	width:300px;
}

form  span {
	margin-right:3px;
	margin-left:12px;
}

td {
	vertical-align: top
}

.error {
	background-color: yellow;
	color:red;
	padding:15px;
	font-size: 15pt;
}
.buildInfo{
	font-size: xx-small;
	color:#ddd;
	text-align: right;	
}
